@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.plans-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

.logo {
  width: 300px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.plans {
  padding: 0 140px;
  font-size: 32px;
  margin-bottom: 50px;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
  border-radius: 10px 10px 10px 10px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #356833;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }

  .plans-container {
    flex-direction: column;
  }

  .logo {
    width: 100%;
  }

  .plans {
    padding: 0 20px;
    font-size: 24px;
    text-align: center;
  }
}